{% extends "base.html" %}
{% load staticfiles %}

{% block webpage_title %}
{{article.title}}
{% endblock %}


{% block primary_content %}
{% if article.has_aside %}
    <div class="narrow_primary_div">
{% else %}
    <div class="wide_primary_div">
{% endif %}


<article>
<header><h1>{{article.title}}
{% if not article.published %}
    <span class="preview"> (not published)</span>
{% endif %}
</h1></header>

{% autoescape off %}
<div class="content">{{article.content}}</div>
{% endautoescape %}

{% include "blog/article_footer.html" %}
</article>

{% include 'blog/disqus.html' %}

</div><!--primary_content-->

{% endblock %}


{% block aside %}
{% if article.has_aside %}
    {% include 'blog/aside.html' %}
{% endif %}
{% endblock %}
