{% extends "base.html" %}

{% block webpage_title %}
{{page.title}}
{% endblock %}

{% block primary_content %}
{% if page.has_aside %}
    <div class="narrow_primary_div">
{% else %}
    <div class="wide_primary_div">
{% endif %}

<article>
<header><h1>{{page.title}}
{% if not page.published %}
    <span class="preview"> (not published)</span>
{% endif %}
</h1></header>

<div class="content">
{% autoescape off %}
{{page.content}}
{% endautoescape %}
</div>
{% if authenticated %}<footer class="page_footer"><a href="/admin/blog/page/{{page.pk}}/">Edit</a></footer>{% endif %}
</article>

{% include 'blog/disqus.html' %}

</div><!--primary_content-->

{% endblock %}


{% block aside %}
{% if page.has_aside %}
    {% include 'blog/aside.html' %}
{% endif %}
{% endblock %}
